*{
    margin: 0;
    padding: 0;
    background-color: black ;
}
a{
    text-decoration: none;
}
nav{
    padding-top: 20px;
    height: 70px;
    width: 100%;
    background-color: black ;
    
    padding-bottom: 20px;
    
}
#logo{
    float: left;
    height: 40px;
    width: 40px;

}
#logo img{
    
    height: 40px;
    width: 40px;
}

nav .links{
    text-align: center;
    color: white;
    font-size: 35px;
    padding-left: 20px;
    padding-bottom: 20px;
}
main{
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
}
div{
    width:100%;
}
div > img{
   width: 47%;
   float:left;
   padding-left: 15px;
}
div > p{
    width: 47%;
    float:right;
    font-size: 25px;
    color: white;
    padding-right: 20px;
}
main > hr{
    margin-top: 55px ;
    width: 100%;
    
    color: white;
}
section{
    display: grid;
    justify-items: center;
    align-items: center;
}
section > img{
    width: 60%;
    height: auto;

}
section > p{  
    font-size: 25px;
    color: white;
    width: 50%;
}
footer{
    height: 75px;
    display: grid;
    align-content: center;
    justify-content: center;
}
footer  img{
    width: 70px;
    height: auto;
}