*{
    margin: 0;
    padding: 0;
    background-color: black ;
}

main{
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
}
div{
    width:100%;
}
div > img{
   width: 47%;
   float:left;
   padding-left: 15px;
}
div > p{
    width: 47%;
    float:right;
    font-size: 25px;
    color: white;
    padding-right: 20px;
}
main > hr{
    margin-top: 55px ;
    width: 100%;
    
    color: white;
}
section{
    display: grid;
    justify-items: center;
    align-items: center;
}
section > img{
    width: 60%;
    height: auto;

}
section > p{  
    font-size: 25px;
    color: white;
    width: 50%;
}
